/* Primary button */
button.primary {
    @apply 
        cursor-pointer
        rounded-full 
        text-white
        border 
        border-2 
        border-blue-normal
        bg-blue-normal
        uppercase
        text-sm;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
}

button.primary:hover {
    @apply 
        bg-blue-light 
        border-blue-light 
        text-white;
}

button.primary:disabled,
button.primary[disabled] {
    @apply 
        bg-blue-light 
        text-white 
        cursor-auto 
        opacity-80;
}

/* Secondary button */
button.secondary {
    @apply 
        cursor-pointer
        rounded-full 
        text-blue-normal
        border 
        border-2 
        border-blue-normal
        uppercase
        text-sm;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
}

button.secondary.white {
    @apply 
        border-white 
        text-white;
}

button.secondary:not(.white):hover {
    @apply 
        bg-blue-light 
        border-blue-light 
        text-white;
}

button.secondary:not(.white):disabled,
button.secondary:not(.white)[disabled] {
    @apply 
        bg-blue-light 
        text-white 
        cursor-auto 
        opacity-80;
}