/* See this link for a list of emoji codes: https://gist.github.com/dillonchr/897f9c98955234264eee4a2bcf2339ca */

.emoji.earth::after {
    content: "\01F30D";
}

.emoji.confounded::after {
    content: "\01F616";
}

.emoji.thinking-face::after {
    content: "\01F914";
}

.emoji.envelope-with-downwards-arrow-above::after {
    content: "\01F4E9";
}