.loader {
    @apply 
        animate-spin 
        mr-2;
    
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.loader.white {
    border: 2px solid white;
    border-top: 2px solid transparent;
}

.loader.blue {
    border: 2px solid var(--blue-normal);
    border-top: 2px solid transparent;
}