.modal {
    @apply 
        fixed 
        w-full 
        h-full 
        z-10 
        top-0 
        left-0;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
    @apply 
        text-center
        fixed
        bg-white rounded-2xl
        p-10;

    width: 90%;
    max-width: 450px;
    max-height: 90%;
    overflow-y: auto;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal .modal-content h2 {
    @apply mb-5;
}