@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
    --blue-light: #436e84;
    --blue-normal: #295469;
}

@import './app/assets/css/Button.css';
@import './app/assets/css/Emoji.css';
@import './app/assets/css/Input.css';
@import './app/assets/css/Link.css';
@import './app/assets/css/LoadAnimation.css';
@import './app/assets/css/MobileMenuModal.css';
@import './app/assets/css/Modal.css';

#root {
    height: 100%;
    min-height: 100%;
}

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
}

h1 {
    @apply 
        text-3xl 
        font-light;

    line-height: 1.4;
    margin: 0 0 0.75em;
    padding: 1.5em 0 0;
}

h2 {
    @apply 
        text-2xl 
        font-light;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

input, textarea, select {
    border: 1px solid #bbb;
    padding: 0.7em;
    border-radius: 0.5rem;
    width: 100%;
    background-color: transparent;
}